@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 100px auto;
}

h1, h2 {
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5rem;
}

.content {
    margin-bottom: 30px;
}

.inputbox {
    margin-bottom: 20px;
}

input {
    width: 335px;
    height: 35px;
}

input::placeholder, textarea::placeholder {
    padding-left: 15px;
}

.contact-info {
    margin-top: -140px;
    line-height: 2.5rem;
}

i {
    color: rgb(18, 211, 224);
    padding-right: 20px;
}

.contact-info p {
    font-weight: bold;
}

.hrline {
    border-color: gray;
    margin-top: 20px;
}

hr {
    margin-left: 30px;
    background: gray;
    border-width: 0.09rem;
}

button {
    width: 21rem;
    height: 2.5rem;
    background: transparent;
    border-color: rgb(13, 13, 177);
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background:rgb(154, 44, 233);
    border-color: rgb(16, 230, 123);
    cursor: pointer;
    transition: all 0.3s linear;
}

@media screen and (max-width: 900px) {
    .contact{
        font-size: small;
        width: 400px;
        flex-direction: column;
    }

    .contact-info {
        margin-top: 50px;
        margin-left: -50px;
        height: 80px;
    }
}